# Masukan APP ID ambil di web my.telegram.org
API_KEY = "22265018"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "faaac7e7ffe00005da57560976a8e942"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1AZWarzcBuwXBbS9tVEtsBesFrHiIsgZkjM7rW9SPxX96AAsGnyo165WtCNDyoqo6IPjicKhE3UhFQc8wi5-u8UOpTLr0sZkgAfkYBi1cbycdoJSLP9XvvgQyX8RKKzjfYbuFnfgNP5yGKs1stCOlAeyS5coGoP99EN_CUY3dtnA2w5BKzOgirQkW5tqBLBpPIdFj8hF-N7mlbClm4wAhg3nFRrvWNc3t-xF7dnczNsD423toREEE3caltouqSH7_EBuORtXh06rqrvJ7JCLtyTpTV8qPe50rgbSU4GgYCjRnYEY8aFjt8uJYBOlcBVZ6MqUAkOKMzh_U1h9CAjWQPr2sC3KDMXQ="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "7167973546:AAF985QeGyn4GND9KYX54XWwGT2WfjABpYw"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -100 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "postgres://wpjonory:***@rain.db.elephantsql.com/wpjonory "

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

